# TSTR GM Dataset F

In [2]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [3]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = "EVALUATION FUNCTIONS/UTILITY"
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)
#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [4]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/GM/F_IndianLiverPatient_Synthetic_GM.csv')
categorical_columns = ['gender','class']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,age,gender,TB,DB,alkphos,sgpt,sgot,TP,ALB,A_G,class
0,68,Male,0.792221,0.210326,403.231073,41.466674,33.224376,5.532269,2.299157,0.739703,1.0
1,62,Female,1.081347,0.299965,432.280680,29.344795,45.448756,6.762787,3.424076,1.132054,1.0
2,66,Male,1.106183,0.228158,409.387072,182.941301,74.747186,7.259657,4.059811,0.881810,1.0
3,18,Male,0.319369,0.211002,123.339810,33.420530,39.358963,8.525534,4.605769,1.557012,2.0
4,28,Male,0.689095,0.791855,41.390511,37.560963,49.239559,7.501857,3.313626,0.706537,2.0
...,...,...,...,...,...,...,...,...,...,...,...
461,44,Male,0.555285,0.120601,200.579550,18.119024,20.245458,7.024714,2.973412,0.638638,1.0
462,45,Male,0.441402,0.276043,176.890784,40.251383,37.730839,5.729123,3.276946,1.346909,2.0
463,23,Male,1.294539,0.289846,224.054337,38.982170,123.888386,7.224159,3.751692,0.944799,2.0
464,56,Male,0.516323,0.512852,307.627940,30.908007,44.850122,5.357072,2.377225,0.284098,1.0
465,41,Male,1.683816,3.139415,252.728469,30.817496,30.770279,4.752291,2.579145,1.124658,2.0

In [6]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/F_IndianLiverPatient_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

     age  gender    TB   DB  alkphos   sgpt   sgot   TP  ALB        A_G class
0     19    Male   1.4  0.8    178.0   13.0   26.0  8.0  4.6       1.30   2.0
1     12    Male   1.0  0.2    719.0  157.0  108.0  7.2  3.7       1.00   1.0
2     60    Male   5.7  2.8    214.0  412.0  850.0  7.3  3.2       0.78   1.0
3     42  Female   0.5  0.1    162.0  155.0  108.0  8.1  4.0       0.90   1.0
4     40    Male  14.5  6.4    358.0   50.0   75.0  5.7  2.1       0.50   1.0
..   ...     ...   ...  ...      ...    ...    ...  ...  ...        ...   ...
112   60    Male   0.9  0.3    168.0   16.0   24.0  6.7  3.0       0.80   1.0
113   54  Female   1.4  0.7    195.0   36.0   16.0  7.9  3.7       0.90   2.0
114   47  Female   3.0  1.5    292.0   64.0   67.0  5.6  1.8       0.47   1.0
115   27    Male   1.3  0.6    106.0   25.0   54.0  8.5  4.8 -100000.00   2.0
116   21    Male   0.7  0.2    211.0   14.0   23.0  7.3  4.1       1.20   2.0

[117 rows x 11 columns]

In [7]:
target = 'class'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(466, 11)
class
1.0    331
2.0    135
dtype: int64
#####################################
Test data
(117, 11)
class
1.0    87
2.0    30
dtype: int64

## 2. Pre-process training data

In [8]:
target = 'class'
categorical_columns = ['gender']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((466, 11), (466,))

## 3. Preprocess test data

In [9]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((117, 11), (117,))

## 4. Create a dataset to save the results

In [10]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [11]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.7094     0.6547  0.7094  0.6688

## 5. Train and Evaluate KNeighbors Classifier

In [12]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.7436     0.6843  0.7436  0.6492

## 6. Train and evaluate Decision Tree Classifier

In [13]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.6068     0.6152  0.6068  0.6109

## 7. Train and evaluate Support Vector Machines Classifier

In [14]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.4188     0.7856  0.4188  0.3934

## 8. Train and evaluate Multilayer Perceptron Classifier

In [15]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.67301539
Iteration 2, loss = 0.62231830
Iteration 3, loss = 0.59497764
Iteration 4, loss = 0.58310826
Iteration 5, loss = 0.57567845
Iteration 6, loss = 0.57025363
Iteration 7, loss = 0.56495291
Iteration 8, loss = 0.55997856
Iteration 9, loss = 0.55712722
Iteration 10, loss = 0.55410486
Iteration 11, loss = 0.55142137
Iteration 12, loss = 0.54805287
Iteration 13, loss = 0.54519334
Iteration 14, loss = 0.54231025
Iteration 15, loss = 0.53912763
Iteration 16, loss = 0.53570333
Iteration 17, loss = 0.53246164
Iteration 18, loss = 0.52987108
Iteration 19, loss = 0.52744147
Iteration 20, loss = 0.52428225
Iteration 21, loss = 0.52100802
Iteration 22, loss = 0.51751555
Iteration 23, loss = 0.51522428
Iteration 24, loss = 0.51098224
Iteration 25, loss = 0.50945954
Iteration 26, loss = 0.50843622
Iteration 27, loss = 0.50410100
Iteration 28, loss = 0.50007731
Iteration 29, loss = 0.49615051
Iteration 30, loss = 0.49254250
Iteration 31, loss = 0.48923807
Iteration 32, loss = 0.48644090
Iteration 33, loss = 0.48341305
Iteration 34, loss = 0.48050778
Iteration 35, loss = 0.47606583
Iteration 36, loss = 0.47274575
Iteration 37, loss = 0.46855714
Iteration 38, loss = 0.46610974
Iteration 39, loss = 0.46143809
Iteration 40, loss = 0.45965880
Iteration 41, loss = 0.45654949
Iteration 42, loss = 0.45319259
Iteration 43, loss = 0.45045415
Iteration 44, loss = 0.44504963
Iteration 45, loss = 0.44185552
Iteration 46, loss = 0.43828348
Iteration 47, loss = 0.43411941
Iteration 48, loss = 0.43074820
Iteration 49, loss = 0.42791458
Iteration 50, loss = 0.42450163
Iteration 51, loss = 0.42105555
Iteration 52, loss = 0.41698491
Iteration 53, loss = 0.41360524
Iteration 54, loss = 0.40981252
Iteration 55, loss = 0.40705471
Iteration 56, loss = 0.40420311
Iteration 57, loss = 0.40082878
Iteration 58, loss = 0.39549446
Iteration 59, loss = 0.39160637
Iteration 60, loss = 0.38785086
Iteration 61, loss = 0.38348043
Iteration 62, loss = 0.38069203
Iteration 63, loss = 0.37676235
Iteration 64, loss = 0.37609533
Iteration 65, loss = 0.36944220
Iteration 66, loss = 0.36868336
Iteration 67, loss = 0.36252749
Iteration 68, loss = 0.36403700
Iteration 69, loss = 0.35538873
Iteration 70, loss = 0.35901661
Iteration 71, loss = 0.35018125
Iteration 72, loss = 0.34769784
Iteration 73, loss = 0.34168803
Iteration 74, loss = 0.34224730
Iteration 75, loss = 0.33857998
Iteration 76, loss = 0.33572676
Iteration 77, loss = 0.33029352
Iteration 78, loss = 0.32915376
Iteration 79, loss = 0.32450218
Iteration 80, loss = 0.31907105
Iteration 81, loss = 0.31932474
Iteration 82, loss = 0.31701993
Iteration 83, loss = 0.30977334
Iteration 84, loss = 0.30906045
Iteration 85, loss = 0.30331050
Iteration 86, loss = 0.30344745
Iteration 87, loss = 0.29717840
Iteration 88, loss = 0.29499387
Iteration 89, loss = 0.29135138
Iteration 90, loss = 0.28698384
Iteration 91, loss = 0.28454114
Iteration 92, loss = 0.28260715
Iteration 93, loss = 0.28560999
Iteration 94, loss = 0.27552904
Iteration 95, loss = 0.27850323
Iteration 96, loss = 0.26976406
Iteration 97, loss = 0.26927530
Iteration 98, loss = 0.26358580
Iteration 99, loss = 0.26088002
Iteration 100, loss = 0.25772292
Iteration 101, loss = 0.25199364
Iteration 102, loss = 0.25293980
Iteration 103, loss = 0.24480253
Iteration 104, loss = 0.24322485
Iteration 105, loss = 0.23832323
Iteration 106, loss = 0.23598295
Iteration 107, loss = 0.23598435
Iteration 108, loss = 0.23081973
Iteration 109, loss = 0.22906200
Iteration 110, loss = 0.22314982
Iteration 111, loss = 0.22004181
Iteration 112, loss = 0.21660057
Iteration 113, loss = 0.21748804
Iteration 114, loss = 0.21342551
Iteration 115, loss = 0.20897522
Iteration 116, loss = 0.20485241
Iteration 117, loss = 0.20186782
Iteration 118, loss = 0.20225194
Iteration 119, loss = 0.19822719
Iteration 120, loss = 0.19179849
Iteration 121, loss = 0.19400803
Iteration 122, loss = 0.18909430
Iteration 123, loss = 0.18671295
Iteration 124, loss = 0.18171820
Iteration 125, loss = 0.18839525
Iteration 126, loss = 0.18843222
Iteration 127, loss = 0.17956531
Iteration 128, loss = 0.17561106
Iteration 129, loss = 0.17709845
Iteration 130, loss = 0.17075262
Iteration 131, loss = 0.16673144
Iteration 132, loss = 0.16751771
Iteration 133, loss = 0.17226830
Iteration 134, loss = 0.16033940
Iteration 135, loss = 0.15968281
Iteration 136, loss = 0.15836765
Iteration 137, loss = 0.14775949
Iteration 138, loss = 0.15286832
Iteration 139, loss = 0.14820331
Iteration 140, loss = 0.14865129
Iteration 141, loss = 0.14053456
Iteration 142, loss = 0.14328694
Iteration 143, loss = 0.13674203
Iteration 144, loss = 0.13615725
Iteration 145, loss = 0.13869227
Iteration 146, loss = 0.12893546
Iteration 147, loss = 0.13485679
Iteration 148, loss = 0.13830205
Iteration 149, loss = 0.12633075
Iteration 150, loss = 0.12581550
Iteration 151, loss = 0.11974034
Iteration 152, loss = 0.12214029
Iteration 153, loss = 0.12011851
Iteration 154, loss = 0.11877008
Iteration 155, loss = 0.11554859
Iteration 156, loss = 0.11488959
Iteration 157, loss = 0.11127987
Iteration 158, loss = 0.11086708
Iteration 159, loss = 0.10736722
Iteration 160, loss = 0.10525794
Iteration 161, loss = 0.10402147
Iteration 162, loss = 0.10163939
Iteration 163, loss = 0.10104885
Iteration 164, loss = 0.09923495
Iteration 165, loss = 0.09818874
Iteration 166, loss = 0.09424407
Iteration 167, loss = 0.09358134
Iteration 168, loss = 0.09705175
Iteration 169, loss = 0.08748719
Iteration 170, loss = 0.09159464
Iteration 171, loss = 0.08648510
Iteration 172, loss = 0.08358112
Iteration 173, loss = 0.08645347
Iteration 174, loss = 0.08536148
Iteration 175, loss = 0.08260245
Iteration 176, loss = 0.07768489
Iteration 177, loss = 0.08384887
Iteration 178, loss = 0.07698315
Iteration 179, loss = 0.07783666
Iteration 180, loss = 0.07560279
Iteration 181, loss = 0.07955959
Iteration 182, loss = 0.07229672
Iteration 183, loss = 0.07088023
Iteration 184, loss = 0.07995463
Iteration 185, loss = 0.06754912
Iteration 186, loss = 0.07403872
Iteration 187, loss = 0.06974993
Iteration 188, loss = 0.07034195
Iteration 189, loss = 0.06695092
Iteration 190, loss = 0.06372515
Iteration 191, loss = 0.06525463
Iteration 192, loss = 0.06363928
Iteration 193, loss = 0.05847785
Iteration 194, loss = 0.05958487
Iteration 195, loss = 0.05626050
Iteration 196, loss = 0.05529913
Iteration 197, loss = 0.05467294
Iteration 198, loss = 0.05645701
Iteration 199, loss = 0.05354520
Iteration 200, loss = 0.05527513
Iteration 201, loss = 0.05167033
Iteration 202, loss = 0.05004604
Iteration 203, loss = 0.04991059
Iteration 204, loss = 0.04939795
Iteration 205, loss = 0.04841013
Iteration 206, loss = 0.04754458
Iteration 207, loss = 0.04736325
Iteration 208, loss = 0.04496106
Iteration 209, loss = 0.04543247
Iteration 210, loss = 0.04477780
Iteration 211, loss = 0.04388126
Iteration 212, loss = 0.04488840
Iteration 213, loss = 0.04532243
Iteration 214, loss = 0.04287907
Iteration 215, loss = 0.04103321
Iteration 216, loss = 0.04201860
Iteration 217, loss = 0.04011837
Iteration 218, loss = 0.03899769
Iteration 219, loss = 0.03850450
Iteration 220, loss = 0.04028858
Iteration 221, loss = 0.03722702
Iteration 222, loss = 0.03691475
Iteration 223, loss = 0.03556035
Iteration 224, loss = 0.03453801
Iteration 225, loss = 0.03832040
Iteration 226, loss = 0.03520797
Iteration 227, loss = 0.03688052
Iteration 228, loss = 0.04065104
Iteration 229, loss = 0.03502520
Iteration 230, loss = 0.03497252
Iteration 231, loss = 0.03382712
Iteration 232, loss = 0.03146854
Iteration 233, loss = 0.03131839
Iteration 234, loss = 0.03193612
Iteration 235, loss = 0.02942840
Iteration 236, loss = 0.02970882
Iteration 237, loss = 0.03114462
Iteration 238, loss = 0.02962652
Iteration 239, loss = 0.02955920
Iteration 240, loss = 0.02746560
Iteration 241, loss = 0.02733857
Iteration 242, loss = 0.02622620
Iteration 243, loss = 0.02633780
Iteration 244, loss = 0.02510655
Iteration 245, loss = 0.02594591
Iteration 246, loss = 0.02509263
Iteration 247, loss = 0.02464594
Iteration 248, loss = 0.02502461
Iteration 249, loss = 0.02553301
Iteration 250, loss = 0.02343567
Iteration 251, loss = 0.02514770
Iteration 252, loss = 0.02399096
Iteration 253, loss = 0.02286991
Iteration 254, loss = 0.02257441
Iteration 255, loss = 0.02282793
Iteration 256, loss = 0.02164879
Iteration 257, loss = 0.02122353
Iteration 258, loss = 0.02134810
Iteration 259, loss = 0.02144820
Iteration 260, loss = 0.02080122
Iteration 261, loss = 0.02181622
Iteration 262, loss = 0.01979389
Iteration 263, loss = 0.02002198
Iteration 264, loss = 0.01934845
Iteration 265, loss = 0.01914777
Iteration 266, loss = 0.01916823
Iteration 267, loss = 0.01909770
Iteration 268, loss = 0.01845519
Iteration 269, loss = 0.01838805
Iteration 270, loss = 0.01852925
Iteration 271, loss = 0.01808218
Iteration 272, loss = 0.01714151
Iteration 273, loss = 0.01775981
Iteration 274, loss = 0.01689007
Iteration 275, loss = 0.01609167
Iteration 276, loss = 0.01686515
Iteration 277, loss = 0.01706781
Iteration 278, loss = 0.01657143
Iteration 279, loss = 0.01711814
Iteration 280, loss = 0.01515020
Iteration 281, loss = 0.01621098
Iteration 282, loss = 0.01520179
Iteration 283, loss = 0.01525302
Iteration 284, loss = 0.01548936
Iteration 285, loss = 0.01469108
Iteration 286, loss = 0.01407978
Iteration 287, loss = 0.01396203
Iteration 288, loss = 0.01456206
Iteration 289, loss = 0.01331175
Iteration 290, loss = 0.01325138
Iteration 291, loss = 0.01312104
Iteration 292, loss = 0.01340096
Iteration 293, loss = 0.01416021
Iteration 294, loss = 0.01440416
Iteration 295, loss = 0.01291175
Iteration 296, loss = 0.01362464
Iteration 297, loss = 0.01247519
Iteration 298, loss = 0.01276113
Iteration 299, loss = 0.01268060
Iteration 300, loss = 0.01161567

  model  accuracy  precision  recall     f1
0   MLP    0.7094      0.663  0.7094  0.676

## 9. Save results file

In [16]:
results.to_csv('RESULTS/models_results_gm.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.7094     0.6547  0.7094  0.6688
1   KNN    0.7436     0.6843  0.7436  0.6492
2    DT    0.6068     0.6152  0.6068  0.6109
3   SVM    0.4188     0.7856  0.4188  0.3934
4   MLP    0.7094     0.6630  0.7094  0.6760