# TSTR SDV Dataset F

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = "EVALUATION FUNCTIONS/UTILITY"
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)
#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/SDV/F_IndianLiverPatient_Synthetic_SDV.csv')
categorical_columns = ['gender','class']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

     age  gender    TB   DB  alkphos   sgpt   sgot   TP  ALB       A_G class
0     44    Male   8.3  4.5    392.9   51.0  356.8  5.5  2.8   6794.23   1.0
1     46    Male   6.6  3.3    274.8    2.4  115.1  7.7  4.3   7235.22   2.0
2      9    Male   8.7  4.2    592.2   65.9  448.1  7.3  3.4   1607.48   1.0
3     46    Male   5.3  2.6    349.1  281.3  220.2  6.5  2.7   4034.47   2.0
4     33    Male   0.1  0.0    387.6   13.6   76.2  6.5  3.3   8117.89   1.0
..   ...     ...   ...  ...      ...    ...    ...  ...  ...       ...   ...
461   62    Male   1.6  0.8     63.9   97.7  158.2  7.5  4.3   4001.77   2.0
462    7  Female  14.0  6.5    208.5  411.6  199.0  7.5  4.4  10646.83   1.0
463   52    Male   8.3  3.3    761.4  159.6  316.6  6.2  2.9   2055.75   1.0
464   60    Male  14.8  5.8    798.7  319.8  409.5  6.1  2.3  11312.52   1.0
465   52    Male   8.0  4.1    359.0  368.2  556.9  5.8  2.8   2952.02   1.0

[466 rows x 11 columns]

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/F_IndianLiverPatient_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

     age  gender    TB   DB  alkphos   sgpt   sgot   TP  ALB        A_G class
0     19    Male   1.4  0.8    178.0   13.0   26.0  8.0  4.6       1.30   2.0
1     12    Male   1.0  0.2    719.0  157.0  108.0  7.2  3.7       1.00   1.0
2     60    Male   5.7  2.8    214.0  412.0  850.0  7.3  3.2       0.78   1.0
3     42  Female   0.5  0.1    162.0  155.0  108.0  8.1  4.0       0.90   1.0
4     40    Male  14.5  6.4    358.0   50.0   75.0  5.7  2.1       0.50   1.0
..   ...     ...   ...  ...      ...    ...    ...  ...  ...        ...   ...
112   60    Male   0.9  0.3    168.0   16.0   24.0  6.7  3.0       0.80   1.0
113   54  Female   1.4  0.7    195.0   36.0   16.0  7.9  3.7       0.90   2.0
114   47  Female   3.0  1.5    292.0   64.0   67.0  5.6  1.8       0.47   1.0
115   27    Male   1.3  0.6    106.0   25.0   54.0  8.5  4.8 -100000.00   2.0
116   21    Male   0.7  0.2    211.0   14.0   23.0  7.3  4.1       1.20   2.0

[117 rows x 11 columns]

In [5]:
target = 'class'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(466, 11)
class
1.0    417
2.0     49
dtype: int64
#####################################
Test data
(117, 11)
class
1.0    87
2.0    30
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'class'
categorical_columns = None
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = None

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((466, 9), (466,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((117, 9), (117,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall    f1
0    RF     0.735     0.5513   0.735  0.63

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.7436     0.5529  0.7436  0.6342

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.7009     0.6078  0.7009  0.6364

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.3077     0.5579  0.3077  0.2654

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.67770072
Iteration 2, loss = 0.56757998
Iteration 3, loss = 0.49458467
Iteration 4, loss = 0.44220463
Iteration 5, loss = 0.40624416
Iteration 6, loss = 0.37633193
Iteration 7, loss = 0.35687689
Iteration 8, loss = 0.34236096
Iteration 9, loss = 0.33660343
Iteration 10, loss = 0.33661865
Iteration 11, loss = 0.33562940
Iteration 12, loss = 0.33404062
Iteration 13, loss = 0.33129671
Iteration 14, loss = 0.32774423
Iteration 15, loss = 0.32403482
Iteration 16, loss = 0.32154100
Iteration 17, loss = 0.31964224
Iteration 18, loss = 0.31841804
Iteration 19, loss = 0.31705287
Iteration 20, loss = 0.31577927
Iteration 21, loss = 0.31421017
Iteration 22, loss = 0.31287723
Iteration 23, loss = 0.31152746
Iteration 24, loss = 0.31016859
Iteration 25, loss = 0.30889485
Iteration 26, loss = 0.30753284
Iteration 27, loss = 0.30633899
Iteration 28, loss = 0.30488377
Iteration 29, loss = 0.30391599
Iteration 30, loss = 0.30278838
Iteration 31, loss = 0.30091164
Iteration 32, loss = 0.29989561
Iteration 33, loss = 0.29862343
Iteration 34, loss = 0.29734169
Iteration 35, loss = 0.29604000
Iteration 36, loss = 0.29435520
Iteration 37, loss = 0.29293677
Iteration 38, loss = 0.29155713
Iteration 39, loss = 0.28999061
Iteration 40, loss = 0.28850991
Iteration 41, loss = 0.28667075
Iteration 42, loss = 0.28512507
Iteration 43, loss = 0.28329084
Iteration 44, loss = 0.28133750
Iteration 45, loss = 0.27939407
Iteration 46, loss = 0.27783133
Iteration 47, loss = 0.27574225
Iteration 48, loss = 0.27358837
Iteration 49, loss = 0.27158470
Iteration 50, loss = 0.26970325
Iteration 51, loss = 0.26728549
Iteration 52, loss = 0.26503092
Iteration 53, loss = 0.26279686
Iteration 54, loss = 0.26112311
Iteration 55, loss = 0.25861707
Iteration 56, loss = 0.25599553
Iteration 57, loss = 0.25336822
Iteration 58, loss = 0.25034671
Iteration 59, loss = 0.24770236
Iteration 60, loss = 0.24479170
Iteration 61, loss = 0.24196634
Iteration 62, loss = 0.23984354
Iteration 63, loss = 0.23651216
Iteration 64, loss = 0.23374404
Iteration 65, loss = 0.23107489
Iteration 66, loss = 0.22744683
Iteration 67, loss = 0.22507866
Iteration 68, loss = 0.22113656
Iteration 69, loss = 0.21873836
Iteration 70, loss = 0.21594369
Iteration 71, loss = 0.21200185
Iteration 72, loss = 0.20915700
Iteration 73, loss = 0.20588863
Iteration 74, loss = 0.20240396
Iteration 75, loss = 0.19834966
Iteration 76, loss = 0.19540466
Iteration 77, loss = 0.19220544
Iteration 78, loss = 0.18865840
Iteration 79, loss = 0.18520547
Iteration 80, loss = 0.18109898
Iteration 81, loss = 0.17762914
Iteration 82, loss = 0.17712378
Iteration 83, loss = 0.17278947
Iteration 84, loss = 0.16739226
Iteration 85, loss = 0.16239184
Iteration 86, loss = 0.15989124
Iteration 87, loss = 0.15763747
Iteration 88, loss = 0.15144846
Iteration 89, loss = 0.14896001
Iteration 90, loss = 0.14504360
Iteration 91, loss = 0.14164790
Iteration 92, loss = 0.13718502
Iteration 93, loss = 0.13395679
Iteration 94, loss = 0.13095157
Iteration 95, loss = 0.12619931
Iteration 96, loss = 0.12300008
Iteration 97, loss = 0.11894895
Iteration 98, loss = 0.11530932
Iteration 99, loss = 0.11287414
Iteration 100, loss = 0.10925994
Iteration 101, loss = 0.10479479
Iteration 102, loss = 0.10257535
Iteration 103, loss = 0.10020375
Iteration 104, loss = 0.09570156
Iteration 105, loss = 0.09175268
Iteration 106, loss = 0.08933908
Iteration 107, loss = 0.08678663
Iteration 108, loss = 0.08392322
Iteration 109, loss = 0.08029908
Iteration 110, loss = 0.07901350
Iteration 111, loss = 0.07512531
Iteration 112, loss = 0.07386474
Iteration 113, loss = 0.07203736
Iteration 114, loss = 0.07024508
Iteration 115, loss = 0.06585573
Iteration 116, loss = 0.06444458
Iteration 117, loss = 0.06421143
Iteration 118, loss = 0.05981966
Iteration 119, loss = 0.05734067
Iteration 120, loss = 0.05519206
Iteration 121, loss = 0.05440564
Iteration 122, loss = 0.05211018
Iteration 123, loss = 0.05063394
Iteration 124, loss = 0.04726618
Iteration 125, loss = 0.04786713
Iteration 126, loss = 0.04452690
Iteration 127, loss = 0.04692860
Iteration 128, loss = 0.04105257
Iteration 129, loss = 0.04121331
Iteration 130, loss = 0.03816996
Iteration 131, loss = 0.03839544
Iteration 132, loss = 0.03556372
Iteration 133, loss = 0.03381486
Iteration 134, loss = 0.03281662
Iteration 135, loss = 0.03142436
Iteration 136, loss = 0.03031138
Iteration 137, loss = 0.02984591
Iteration 138, loss = 0.02812479
Iteration 139, loss = 0.02705204
Iteration 140, loss = 0.02773581
Iteration 141, loss = 0.02586021
Iteration 142, loss = 0.02506940
Iteration 143, loss = 0.02343191
Iteration 144, loss = 0.02331837
Iteration 145, loss = 0.02232539
Iteration 146, loss = 0.02141990
Iteration 147, loss = 0.02025301
Iteration 148, loss = 0.01981466
Iteration 149, loss = 0.01905225
Iteration 150, loss = 0.01855741
Iteration 151, loss = 0.01781793
Iteration 152, loss = 0.01703687
Iteration 153, loss = 0.01630718
Iteration 154, loss = 0.01579021
Iteration 155, loss = 0.01532317
Iteration 156, loss = 0.01492396
Iteration 157, loss = 0.01439507
Iteration 158, loss = 0.01383703
Iteration 159, loss = 0.01340115
Iteration 160, loss = 0.01312219
Iteration 161, loss = 0.01294666
Iteration 162, loss = 0.01269804
Iteration 163, loss = 0.01181261
Iteration 164, loss = 0.01180646
Iteration 165, loss = 0.01124071
Iteration 166, loss = 0.01086786
Iteration 167, loss = 0.01046919
Iteration 168, loss = 0.00997839
Iteration 169, loss = 0.00957076
Iteration 170, loss = 0.00941952
Iteration 171, loss = 0.00902745
Iteration 172, loss = 0.00864300
Iteration 173, loss = 0.00841608
Iteration 174, loss = 0.00814221
Iteration 175, loss = 0.00784923
Iteration 176, loss = 0.00760861
Iteration 177, loss = 0.00738087
Iteration 178, loss = 0.00714920
Iteration 179, loss = 0.00696004
Iteration 180, loss = 0.00671575
Iteration 181, loss = 0.00653112
Iteration 182, loss = 0.00634404
Iteration 183, loss = 0.00618812
Iteration 184, loss = 0.00602292
Iteration 185, loss = 0.00583061
Iteration 186, loss = 0.00570098
Iteration 187, loss = 0.00555452
Iteration 188, loss = 0.00542832
Iteration 189, loss = 0.00525760
Iteration 190, loss = 0.00510570
Iteration 191, loss = 0.00512069
Iteration 192, loss = 0.00488778
Iteration 193, loss = 0.00474710
Iteration 194, loss = 0.00459556
Iteration 195, loss = 0.00448902
Iteration 196, loss = 0.00439475
Iteration 197, loss = 0.00431190
Iteration 198, loss = 0.00418016
Iteration 199, loss = 0.00406148
Iteration 200, loss = 0.00395819
Iteration 201, loss = 0.00389349
Iteration 202, loss = 0.00380082
Iteration 203, loss = 0.00373301
Iteration 204, loss = 0.00367759
Iteration 205, loss = 0.00355996
Iteration 206, loss = 0.00349594
Iteration 207, loss = 0.00343617
Iteration 208, loss = 0.00333645
Iteration 209, loss = 0.00325508
Iteration 210, loss = 0.00320400
Iteration 211, loss = 0.00312717
Iteration 212, loss = 0.00307564
Iteration 213, loss = 0.00299721
Iteration 214, loss = 0.00293792
Iteration 215, loss = 0.00290165
Iteration 216, loss = 0.00283517
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.7009     0.6078  0.7009  0.6364

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_sdv.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.7350     0.5513  0.7350  0.6300
1   KNN    0.7436     0.5529  0.7436  0.6342
2    DT    0.7009     0.6078  0.7009  0.6364
3   SVM    0.3077     0.5579  0.3077  0.2654
4   MLP    0.7009     0.6078  0.7009  0.6364