# TSTR CTGAN Dataset F

In [2]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [3]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = "EVALUATION FUNCTIONS/UTILITY"
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [4]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/CTGAN/F_IndianLiverPatient_Synthetic_CTGAN.csv')
categorical_columns = ['gender','class']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

     age  gender    TB   DB  alkphos  sgpt   sgot   TP  ALB     A_G class
0     48    Male   0.4  0.3    293.3  90.9  122.1  6.9  4.8  373.75   2.0
1     63    Male   5.1  1.4    146.7  44.4  767.0  4.5  2.6  215.70   2.0
2     46    Male   2.6  0.2    279.5   8.1   71.5  3.3  3.8  105.82   1.0
3     32    Male   4.9  0.5    109.0   6.9   25.9  5.2  1.3  417.34   2.0
4     54    Male   2.2  0.3    118.1  28.7   56.4  7.2  3.8   29.17   2.0
..   ...     ...   ...  ...      ...   ...    ...  ...  ...     ...   ...
461    4  Female   0.9  0.4    218.1  19.3    7.3  8.8  2.5   91.13   2.0
462   59    Male   1.1  1.7     94.3   3.2    3.0  6.3  3.0  453.24   2.0
463   68  Female   2.0  0.7    250.9  47.8   76.6  6.0  4.6  331.60   1.0
464   66    Male   1.8  1.6    113.4   4.3  843.0  7.9  4.9  467.79   1.0
465   45    Male  30.3  0.0    340.9  34.1  117.8  6.7  4.8  132.48   1.0

[466 rows x 11 columns]

In [6]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/F_IndianLiverPatient_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

     age  gender    TB   DB  alkphos   sgpt   sgot   TP  ALB        A_G class
0     19    Male   1.4  0.8    178.0   13.0   26.0  8.0  4.6       1.30   2.0
1     12    Male   1.0  0.2    719.0  157.0  108.0  7.2  3.7       1.00   1.0
2     60    Male   5.7  2.8    214.0  412.0  850.0  7.3  3.2       0.78   1.0
3     42  Female   0.5  0.1    162.0  155.0  108.0  8.1  4.0       0.90   1.0
4     40    Male  14.5  6.4    358.0   50.0   75.0  5.7  2.1       0.50   1.0
..   ...     ...   ...  ...      ...    ...    ...  ...  ...        ...   ...
112   60    Male   0.9  0.3    168.0   16.0   24.0  6.7  3.0       0.80   1.0
113   54  Female   1.4  0.7    195.0   36.0   16.0  7.9  3.7       0.90   2.0
114   47  Female   3.0  1.5    292.0   64.0   67.0  5.6  1.8       0.47   1.0
115   27    Male   1.3  0.6    106.0   25.0   54.0  8.5  4.8 -100000.00   2.0
116   21    Male   0.7  0.2    211.0   14.0   23.0  7.3  4.1       1.20   2.0

[117 rows x 11 columns]

In [7]:
target = 'class'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(466, 11)
class
1.0    278
2.0    188
dtype: int64
#####################################
Test data
(117, 11)
class
1.0    87
2.0    30
dtype: int64

## 2. Pre-process training data

In [8]:
target = 'class'
categorical_columns = ['gender']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1])]

data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((466, 11), (466,))

## 3. Preprocess test data

In [9]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((117, 11), (117,))

## 4. Create a dataset to save the results

In [10]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [11]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.6325     0.6519  0.6325  0.6412

## 5. Train and Evaluate KNeighbors Classifier

In [12]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.6838     0.6941  0.6838  0.6885

## 6. Train and evaluate Decision Tree Classifier

In [13]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall     f1
0    DT    0.5726     0.5411  0.5726  0.556

## 7. Train and evaluate Support Vector Machines Classifier

In [14]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM     0.453     0.7683   0.453  0.4458

## 8. Train and evaluate Multilayer Perceptron Classifier

In [15]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 0.69149372
Iteration 2, loss = 0.67281482
Iteration 3, loss = 0.66430956
Iteration 4, loss = 0.65989612
Iteration 5, loss = 0.65411082
Iteration 6, loss = 0.64617800
Iteration 7, loss = 0.64014738
Iteration 8, loss = 0.63458387
Iteration 9, loss = 0.62965315
Iteration 10, loss = 0.62431165
Iteration 11, loss = 0.61875180
Iteration 12, loss = 0.61383538
Iteration 13, loss = 0.60861052
Iteration 14, loss = 0.60375299
Iteration 15, loss = 0.59937835
Iteration 16, loss = 0.59414189
Iteration 17, loss = 0.58882228
Iteration 18, loss = 0.58486911
Iteration 19, loss = 0.58033279
Iteration 20, loss = 0.57543297
Iteration 21, loss = 0.56879647
Iteration 22, loss = 0.56760997
Iteration 23, loss = 0.56161130
Iteration 24, loss = 0.55502053
Iteration 25, loss = 0.54967100
Iteration 26, loss = 0.54356453
Iteration 27, loss = 0.53850268
Iteration 28, loss = 0.53417865
Iteration 29, loss = 0.52808338
Iteration 30, loss = 0.52194400
Iteration 31, loss = 0.51684730
Iteration 32, loss = 0.51133017
Iteration 33, loss = 0.50644326
Iteration 34, loss = 0.50042931
Iteration 35, loss = 0.49445460
Iteration 36, loss = 0.48848788
Iteration 37, loss = 0.48331380
Iteration 38, loss = 0.47742624
Iteration 39, loss = 0.47135376
Iteration 40, loss = 0.46786014
Iteration 41, loss = 0.46142611
Iteration 42, loss = 0.45625619
Iteration 43, loss = 0.45067656
Iteration 44, loss = 0.44662081
Iteration 45, loss = 0.44152313
Iteration 46, loss = 0.43704942
Iteration 47, loss = 0.43305017
Iteration 48, loss = 0.42811236
Iteration 49, loss = 0.42081252
Iteration 50, loss = 0.41570255
Iteration 51, loss = 0.40974765
Iteration 52, loss = 0.40693043
Iteration 53, loss = 0.39931465
Iteration 54, loss = 0.39603041
Iteration 55, loss = 0.39104502
Iteration 56, loss = 0.38650255
Iteration 57, loss = 0.37770384
Iteration 58, loss = 0.37690088
Iteration 59, loss = 0.36965051
Iteration 60, loss = 0.36506038
Iteration 61, loss = 0.35952673
Iteration 62, loss = 0.35351762
Iteration 63, loss = 0.34728907
Iteration 64, loss = 0.34286127
Iteration 65, loss = 0.34086220
Iteration 66, loss = 0.33525763
Iteration 67, loss = 0.32843137
Iteration 68, loss = 0.32254424
Iteration 69, loss = 0.31650471
Iteration 70, loss = 0.31466030
Iteration 71, loss = 0.31247233
Iteration 72, loss = 0.30218895
Iteration 73, loss = 0.29938108
Iteration 74, loss = 0.29400918
Iteration 75, loss = 0.28742999
Iteration 76, loss = 0.28049703
Iteration 77, loss = 0.28142129
Iteration 78, loss = 0.27693680
Iteration 79, loss = 0.27006162
Iteration 80, loss = 0.27010841
Iteration 81, loss = 0.26164077
Iteration 82, loss = 0.25712183
Iteration 83, loss = 0.25301819
Iteration 84, loss = 0.23923108
Iteration 85, loss = 0.24554802
Iteration 86, loss = 0.24021505
Iteration 87, loss = 0.23491403
Iteration 88, loss = 0.23139607
Iteration 89, loss = 0.21837386
Iteration 90, loss = 0.21844065
Iteration 91, loss = 0.21015003
Iteration 92, loss = 0.20034841
Iteration 93, loss = 0.20078504
Iteration 94, loss = 0.19511949
Iteration 95, loss = 0.19057334
Iteration 96, loss = 0.18802631
Iteration 97, loss = 0.17961359
Iteration 98, loss = 0.17358701
Iteration 99, loss = 0.17090537
Iteration 100, loss = 0.16904814
Iteration 101, loss = 0.16274120
Iteration 102, loss = 0.15874094
Iteration 103, loss = 0.15542104
Iteration 104, loss = 0.14959864
Iteration 105, loss = 0.14498581
Iteration 106, loss = 0.14237052
Iteration 107, loss = 0.14311375
Iteration 108, loss = 0.13533209
Iteration 109, loss = 0.12996377
Iteration 110, loss = 0.12903767
Iteration 111, loss = 0.12547281
Iteration 112, loss = 0.11724913
Iteration 113, loss = 0.11554522
Iteration 114, loss = 0.11718778
Iteration 115, loss = 0.10771208
Iteration 116, loss = 0.11226949
Iteration 117, loss = 0.10334655
Iteration 118, loss = 0.10260208
Iteration 119, loss = 0.09842236
Iteration 120, loss = 0.09321914
Iteration 121, loss = 0.09356813
Iteration 122, loss = 0.08937905
Iteration 123, loss = 0.08607602
Iteration 124, loss = 0.08564072
Iteration 125, loss = 0.08686555
Iteration 126, loss = 0.08129461
Iteration 127, loss = 0.07895213
Iteration 128, loss = 0.07676335
Iteration 129, loss = 0.07551324
Iteration 130, loss = 0.07455630
Iteration 131, loss = 0.07280706
Iteration 132, loss = 0.06765439
Iteration 133, loss = 0.06655783
Iteration 134, loss = 0.06488167
Iteration 135, loss = 0.05996469
Iteration 136, loss = 0.06230345
Iteration 137, loss = 0.05853784
Iteration 138, loss = 0.05612611
Iteration 139, loss = 0.05607922
Iteration 140, loss = 0.05638106
Iteration 141, loss = 0.05283659
Iteration 142, loss = 0.04997660
Iteration 143, loss = 0.04960844
Iteration 144, loss = 0.04846392
Iteration 145, loss = 0.04610193
Iteration 146, loss = 0.04488390
Iteration 147, loss = 0.04442350
Iteration 148, loss = 0.04236740
Iteration 149, loss = 0.04197232
Iteration 150, loss = 0.04192011
Iteration 151, loss = 0.03909229
Iteration 152, loss = 0.03875672
Iteration 153, loss = 0.03976710
Iteration 154, loss = 0.04131607
Iteration 155, loss = 0.03605001
Iteration 156, loss = 0.03794361
Iteration 157, loss = 0.03402234
Iteration 158, loss = 0.03366254
Iteration 159, loss = 0.03221854
Iteration 160, loss = 0.03169994
Iteration 161, loss = 0.03035139
Iteration 162, loss = 0.02992884
Iteration 163, loss = 0.02910160
Iteration 164, loss = 0.02866200
Iteration 165, loss = 0.02755893
Iteration 166, loss = 0.02734450
Iteration 167, loss = 0.02693231
Iteration 168, loss = 0.02633069
Iteration 169, loss = 0.02521415
Iteration 170, loss = 0.02503518
Iteration 171, loss = 0.02442389
Iteration 172, loss = 0.02399851
Iteration 173, loss = 0.02356299
Iteration 174, loss = 0.02283385
Iteration 175, loss = 0.02290827
Iteration 176, loss = 0.02208109
Iteration 177, loss = 0.02155752
Iteration 178, loss = 0.02279950
Iteration 179, loss = 0.02184535
Iteration 180, loss = 0.02046143
Iteration 181, loss = 0.02094139
Iteration 182, loss = 0.01969588
Iteration 183, loss = 0.01991450
Iteration 184, loss = 0.01963446
Iteration 185, loss = 0.01906742
Iteration 186, loss = 0.01840673
Iteration 187, loss = 0.01832402
Iteration 188, loss = 0.01790069
Iteration 189, loss = 0.01730843
Iteration 190, loss = 0.01684752
Iteration 191, loss = 0.01664770
Iteration 192, loss = 0.01641182
Iteration 193, loss = 0.01638787
Iteration 194, loss = 0.01609461
Iteration 195, loss = 0.01567402
Iteration 196, loss = 0.01537330
Iteration 197, loss = 0.01561214
Iteration 198, loss = 0.01490537
Iteration 199, loss = 0.01579658
Iteration 200, loss = 0.01467372
Iteration 201, loss = 0.01417580
Iteration 202, loss = 0.01377011
Iteration 203, loss = 0.01393738
Iteration 204, loss = 0.01339175
Iteration 205, loss = 0.01316347
Iteration 206, loss = 0.01280966
Iteration 207, loss = 0.01253566
Iteration 208, loss = 0.01245024
Iteration 209, loss = 0.01226728
Iteration 210, loss = 0.01208561
Iteration 211, loss = 0.01171374
Iteration 212, loss = 0.01168493
Iteration 213, loss = 0.01136769
Iteration 214, loss = 0.01172359
Iteration 215, loss = 0.01119562
Iteration 216, loss = 0.01115863
Iteration 217, loss = 0.01076751
Iteration 218, loss = 0.01111825
Iteration 219, loss = 0.01066588
Iteration 220, loss = 0.01018751
Iteration 221, loss = 0.01026429
Iteration 222, loss = 0.01003545
Iteration 223, loss = 0.00972921
Iteration 224, loss = 0.00982923
Iteration 225, loss = 0.00979395
Iteration 226, loss = 0.00972877
Iteration 227, loss = 0.00949604
Iteration 228, loss = 0.00919487
Iteration 229, loss = 0.00903089
Iteration 230, loss = 0.00879055
Iteration 231, loss = 0.00874667
Iteration 232, loss = 0.00847044
Iteration 233, loss = 0.00865238
Iteration 234, loss = 0.00840260
Iteration 235, loss = 0.00842206
Iteration 236, loss = 0.00813749
Iteration 237, loss = 0.00861542
Iteration 238, loss = 0.00816839
Iteration 239, loss = 0.00776999
Iteration 240, loss = 0.00767081
Iteration 241, loss = 0.00782368
Iteration 242, loss = 0.00775338
Iteration 243, loss = 0.00749255
Iteration 244, loss = 0.00730288
Iteration 245, loss = 0.00730971
Iteration 246, loss = 0.00715827
Iteration 247, loss = 0.00693592
Iteration 248, loss = 0.00690417
Iteration 249, loss = 0.00678396
Iteration 250, loss = 0.00671591
Iteration 251, loss = 0.00666447
Iteration 252, loss = 0.00662600
Iteration 253, loss = 0.00663327
Iteration 254, loss = 0.00641001
Iteration 255, loss = 0.00642637
Iteration 256, loss = 0.00619880
Iteration 257, loss = 0.00635424
Iteration 258, loss = 0.00621677
Iteration 259, loss = 0.00620022
Iteration 260, loss = 0.00621040
Iteration 261, loss = 0.00592735
Iteration 262, loss = 0.00594560
Iteration 263, loss = 0.00615554
Iteration 264, loss = 0.00591491
Iteration 265, loss = 0.00570950
Iteration 266, loss = 0.00553766
Iteration 267, loss = 0.00548179
Iteration 268, loss = 0.00543260
Iteration 269, loss = 0.00540447
Iteration 270, loss = 0.00530847
Iteration 271, loss = 0.00525129
Iteration 272, loss = 0.00521967
Iteration 273, loss = 0.00513089
Iteration 274, loss = 0.00501987
Iteration 275, loss = 0.00497618
Iteration 276, loss = 0.00490491
Iteration 277, loss = 0.00494364
Iteration 278, loss = 0.00495596
Iteration 279, loss = 0.00498901
Iteration 280, loss = 0.00491599
Iteration 281, loss = 0.00484765
Iteration 282, loss = 0.00458350
Iteration 283, loss = 0.00477159
Iteration 284, loss = 0.00459552
Iteration 285, loss = 0.00457913
Iteration 286, loss = 0.00450059
Iteration 287, loss = 0.00442960
Iteration 288, loss = 0.00432881
Iteration 289, loss = 0.00427251
Iteration 290, loss = 0.00425251
Iteration 291, loss = 0.00417988
Iteration 292, loss = 0.00414490
Iteration 293, loss = 0.00411656
Iteration 294, loss = 0.00411973
Iteration 295, loss = 0.00404319
Iteration 296, loss = 0.00412126
Iteration 297, loss = 0.00417576
Iteration 298, loss = 0.00392485
Iteration 299, loss = 0.00387607
Iteration 300, loss = 0.00383247

  model  accuracy  precision  recall      f1
0   MLP    0.5214      0.723  0.5214  0.5416

## 9. Save results file

In [16]:
results.to_csv('RESULTS/models_results_ctgan.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.6325     0.6519  0.6325  0.6412
1   KNN    0.6838     0.6941  0.6838  0.6885
2    DT    0.5726     0.5411  0.5726  0.5560
3   SVM    0.4530     0.7683  0.4530  0.4458
4   MLP    0.5214     0.7230  0.5214  0.5416