# TRTR Dataset C - Obesity

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)


#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TRAIN DATASETS/C_Obesity_Data_Real_Train.csv')
categorical_columns = ['Gender','family_history_with_overweight','FAVC','CAEC','SMOKE','SCC','CALC','MTRANS','Obesity_level']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity_level
0,Female,21,1.63,60.00,yes,yes,3.000000,3.000000,Always,yes,2.000000,no,2.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
1,Female,21,1.75,133.62,yes,yes,3.000000,3.000000,Sometimes,no,2.887659,no,1.480919,0.779641,Sometimes,Public_Transportation,Obesity_Type_III
2,Female,23,1.66,82.60,yes,yes,1.203754,1.355354,Sometimes,no,2.765593,no,0.128342,1.659476,Sometimes,Public_Transportation,Obesity_Type_I
3,Female,22,1.59,44.24,no,no,3.000000,1.696080,Frequently,no,2.550307,no,1.098862,0.000000,no,Public_Transportation,Insufficient_Weight
4,Male,26,1.81,106.04,yes,yes,3.000000,3.000000,Sometimes,no,2.858171,no,1.813318,0.680215,Sometimes,Public_Transportation,Obesity_Type_I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,Male,32,1.75,120.10,yes,yes,2.967300,3.000000,Sometimes,no,2.530035,no,0.955317,1.339232,Sometimes,Automobile,Obesity_Type_II
1684,Male,23,1.72,81.67,yes,yes,2.000000,1.729553,Sometimes,no,1.400247,no,0.887923,1.011983,Sometimes,Public_Transportation,Overweight_Level_II
1685,Female,23,1.65,80.00,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.146919,2.000000,no,Public_Transportation,Overweight_Level_II
1686,Female,23,1.63,84.50,yes,yes,2.058687,2.962004,Sometimes,no,2.010596,no,0.851059,0.630866,no,Public_Transportation,Obesity_Type_I
1687,Male,20,1.82,85.00,yes,yes,2.951180,3.000000,Sometimes,no,3.000000,no,2.433918,0.561602,Sometimes,Public_Transportation,Overweight_Level_I

In [4]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/C_Obesity_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity_level
0,Female,20,1.76,53.70,yes,yes,2.000000,3.891994,Frequently,no,1.863930,no,2.870127,2.000000,no,Public_Transportation,Insufficient_Weight
1,Female,26,1.62,111.00,yes,yes,3.000000,3.000000,Sometimes,no,2.704315,no,0.000000,0.322666,Sometimes,Public_Transportation,Obesity_Type_III
2,Male,18,1.85,60.00,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
3,Female,21,1.52,42.00,no,yes,3.000000,1.000000,Frequently,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
4,Male,22,1.75,74.00,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,2.000000,Sometimes,Bike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,Male,19,1.80,87.00,yes,yes,2.000000,4.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Overweight_Level_I
419,Male,31,1.65,101.14,yes,yes,2.913452,2.269799,Sometimes,no,1.000000,no,1.889937,0.378818,no,Public_Transportation,Obesity_Type_II
420,Male,19,1.85,65.00,yes,no,2.000000,3.000000,Sometimes,no,3.000000,no,2.000000,1.000000,Sometimes,Bike,Normal_Weight
421,Male,29,1.76,113.50,yes,yes,2.320201,3.000000,Sometimes,no,2.164784,no,0.000000,1.465479,Sometimes,Automobile,Obesity_Type_II
422,Male,19,1.70,79.68,yes,no,2.735297,2.157164,Sometimes,no,1.087166,no,0.110174,0.003695,no,Public_Transportation,Overweight_Level_II

In [5]:
target = 'Obesity_level'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(1688, 17)
Obesity_level
Insufficient_Weight    216
Normal_Weight          225
Obesity_Type_I         273
Obesity_Type_II        239
Obesity_Type_III       261
Overweight_Level_I     234
Overweight_Level_II    240
dtype: int64
#####################################
Test data
(423, 17)
Obesity_level
Insufficient_Weight    56
Normal_Weight          62
Obesity_Type_I         78
Obesity_Type_II        58
Obesity_Type_III       63
Overweight_Level_I     56
Overweight_Level_II    50
dtype: int64

## 2. Pre-process training data

In [6]:
target = 'Obesity_level'
categorical_columns = ['Gender','family_history_with_overweight','FAVC','CAEC','SMOKE','SCC','CALC','MTRANS']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1]), np.array([0, 1]), np.array([0, 1]), np.array([0, 1, 2, 3]), np.array([0, 1]), 
              np.array([0, 1]), np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3, 4])]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])
y_train = train_data.loc[:, target]

x_train.shape, y_train.shape

((1688, 31), (1688,))

## 3. Preprocess test data

In [7]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
x_test.shape, y_test.shape

((423, 31), (423,))

## 4. Create a dataset to save the results

In [8]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [9]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall     f1
0    RF     0.922     0.9238   0.922  0.922

## 5. Train and Evaluate KNeighbors Classifier

In [10]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall      f1
0   KNN    0.7778     0.7799  0.7778  0.7622

## 6. Train and evaluate Decision Tree Classifier

In [11]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.9314     0.9326  0.9314  0.9315

## 7. Train and evaluate Support Vector Machines Classifier

In [12]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall      f1
0   SVM    0.8771     0.8813  0.8771  0.8754

## 8. Train and evaluate Multilayer Perceptron Classifier

In [13]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 1.95034385
Iteration 2, loss = 1.76753732
Iteration 3, loss = 1.59483317
Iteration 4, loss = 1.38260335
Iteration 5, loss = 1.15953547
Iteration 6, loss = 0.97567828
Iteration 7, loss = 0.82863316
Iteration 8, loss = 0.70599043
Iteration 9, loss = 0.60975385
Iteration 10, loss = 0.53218663
Iteration 11, loss = 0.46247078
Iteration 12, loss = 0.39744864
Iteration 13, loss = 0.34708805
Iteration 14, loss = 0.30448384
Iteration 15, loss = 0.26718559
Iteration 16, loss = 0.23620416
Iteration 17, loss = 0.20909579
Iteration 18, loss = 0.18645448
Iteration 19, loss = 0.16761698
Iteration 20, loss = 0.15101342
Iteration 21, loss = 0.13742970
Iteration 22, loss = 0.12528573
Iteration 23, loss = 0.11229585
Iteration 24, loss = 0.10042314
Iteration 25, loss = 0.09145454
Iteration 26, loss = 0.08512425
Iteration 27, loss = 0.07639695
Iteration 28, loss = 0.07016740
Iteration 29, loss = 0.06498716
Iteration 30, loss = 0.05889680
Iteration 31, loss = 0.05411972
Iteration 32, loss = 0.05237656
Iteration 33, loss = 0.04756212
Iteration 34, loss = 0.04444222
Iteration 35, loss = 0.04038133
Iteration 36, loss = 0.03895189
Iteration 37, loss = 0.03708891
Iteration 38, loss = 0.03284238
Iteration 39, loss = 0.03110004
Iteration 40, loss = 0.02960572
Iteration 41, loss = 0.02865506
Iteration 42, loss = 0.02611408
Iteration 43, loss = 0.02712038
Iteration 44, loss = 0.02309090
Iteration 45, loss = 0.02195611
Iteration 46, loss = 0.02174225
Iteration 47, loss = 0.02004024
Iteration 48, loss = 0.01852716
Iteration 49, loss = 0.01753431
Iteration 50, loss = 0.01632111
Iteration 51, loss = 0.01518561
Iteration 52, loss = 0.01463214
Iteration 53, loss = 0.01447491
Iteration 54, loss = 0.01357649
Iteration 55, loss = 0.01257614
Iteration 56, loss = 0.01198857
Iteration 57, loss = 0.01243703
Iteration 58, loss = 0.01091339
Iteration 59, loss = 0.01043418
Iteration 60, loss = 0.01042665
Iteration 61, loss = 0.00980745
Iteration 62, loss = 0.00941695
Iteration 63, loss = 0.00898478
Iteration 64, loss = 0.00859784
Iteration 65, loss = 0.00826734
Iteration 66, loss = 0.00770866
Iteration 67, loss = 0.00744789
Iteration 68, loss = 0.00732662
Iteration 69, loss = 0.00696855
Iteration 70, loss = 0.00708302
Iteration 71, loss = 0.00664772
Iteration 72, loss = 0.00632695
Iteration 73, loss = 0.00601013
Iteration 74, loss = 0.00585797
Iteration 75, loss = 0.00567093
Iteration 76, loss = 0.00535857
Iteration 77, loss = 0.00514023
Iteration 78, loss = 0.00503938
Iteration 79, loss = 0.00484590
Iteration 80, loss = 0.00465785
Iteration 81, loss = 0.00450005
Iteration 82, loss = 0.00453496
Iteration 83, loss = 0.00453383
Iteration 84, loss = 0.00433155
Iteration 85, loss = 0.00408094
Iteration 86, loss = 0.00403220
Iteration 87, loss = 0.00379189
Iteration 88, loss = 0.00370580
Iteration 89, loss = 0.00360783
Iteration 90, loss = 0.00352188
Iteration 91, loss = 0.00341953
Iteration 92, loss = 0.00334790
Iteration 93, loss = 0.00336711
Iteration 94, loss = 0.00332000
Iteration 95, loss = 0.00320704
Iteration 96, loss = 0.00305381
Iteration 97, loss = 0.00300606
Iteration 98, loss = 0.00284489
Iteration 99, loss = 0.00283688
Iteration 100, loss = 0.00278931
Iteration 101, loss = 0.00267320
Iteration 102, loss = 0.00267693
Iteration 103, loss = 0.00256849
Iteration 104, loss = 0.00259356
Iteration 105, loss = 0.00256894
Iteration 106, loss = 0.00244910
Iteration 107, loss = 0.00240237
Iteration 108, loss = 0.00237748
Iteration 109, loss = 0.00222527
Iteration 110, loss = 0.00216861
Iteration 111, loss = 0.00209198
Iteration 112, loss = 0.00208628
Iteration 113, loss = 0.00204159
Iteration 114, loss = 0.00197906
Iteration 115, loss = 0.00193038
Iteration 116, loss = 0.00191123
Iteration 117, loss = 0.00189616
Iteration 118, loss = 0.00184938
Iteration 119, loss = 0.00182915
Iteration 120, loss = 0.00175838
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.9362     0.9361  0.9362  0.9356

## 9. Save results file

In [14]:
results.to_csv('RESULTS/models_results_real.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.9220     0.9238  0.9220  0.9220
1   KNN    0.7778     0.7799  0.7778  0.7622
2    DT    0.9314     0.9326  0.9314  0.9315
3   SVM    0.8771     0.8813  0.8771  0.8754
4   MLP    0.9362     0.9361  0.9362  0.9356