# TSTR WGANGP Dataset C - Obesity

In [1]:
#import libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder
print('Libraries imported!!')

Libraries imported!!

In [2]:
#define directory of functions and actual directory
HOME_PATH = '' #home path of the project
FUNCTIONS_DIR = 'EVALUATION FUNCTIONS/UTILITY'
ACTUAL_DIR = os.getcwd()

#change directory to functions directory
os.chdir(HOME_PATH + FUNCTIONS_DIR)

#import functions for data labelling analisys
from utility_evaluation import DataPreProcessor
from utility_evaluation import train_evaluate_model

#change directory to actual directory
os.chdir(ACTUAL_DIR)
print('Functions imported!!')

Functions imported!!

## 1. Read data

In [3]:
#read real dataset
train_data = pd.read_csv(HOME_PATH + 'SYNTHETIC DATASETS/WGANGP/C_Obesity_Data_Synthetic_WGANGP.csv')
categorical_columns = ['Gender','family_history_with_overweight','FAVC','CAEC','SMOKE','SCC','CALC','MTRANS','Obesity_level']
for col in categorical_columns :
    train_data[col] = train_data[col].astype('category')
train_data

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity_level
0,Male,31,1.774028,100.827728,yes,yes,2.770020,1.840005,Sometimes,no,2.494596,no,1.851650,0.544157,Sometimes,Automobile,Obesity_Type_I
1,Male,22,1.719011,82.635063,yes,yes,1.985443,2.986817,Sometimes,no,1.982735,no,0.267224,1.005532,Sometimes,Public_Transportation,Overweight_Level_I
2,Male,30,1.751132,108.815437,yes,yes,2.796478,2.576155,Sometimes,no,2.314283,no,1.149067,1.171446,Sometimes,Automobile,Obesity_Type_II
3,Male,28,1.768594,100.235626,yes,yes,2.624398,2.058709,Sometimes,no,2.456661,no,1.412450,0.436580,Sometimes,Automobile,Obesity_Type_I
4,Male,29,1.744278,111.000862,yes,yes,2.770572,2.764187,Sometimes,no,2.263590,no,0.947327,1.286068,Sometimes,Automobile,Obesity_Type_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,Male,26,1.742536,89.363373,yes,yes,2.364491,2.421633,Sometimes,no,2.243913,no,0.923321,0.777661,Sometimes,Public_Transportation,Obesity_Type_I
1684,Male,20,1.697380,78.367531,yes,yes,2.008032,3.014109,Sometimes,no,1.808209,no,0.259624,0.618169,no,Public_Transportation,Obesity_Type_I
1685,Male,24,1.795337,110.383942,yes,yes,2.308867,2.913846,Sometimes,no,1.972949,no,1.225658,0.197648,Sometimes,Public_Transportation,Obesity_Type_II
1686,Male,31,1.773441,103.902313,yes,yes,2.864049,1.925579,Sometimes,no,2.499006,no,1.868067,0.669731,Sometimes,Automobile,Obesity_Type_I
1687,Male,28,1.731874,104.368866,yes,yes,2.465705,2.979183,Sometimes,no,2.170086,no,0.774197,1.252955,Sometimes,Automobile,Obesity_Type_II

In [5]:
#read test data
test_data = pd.read_csv(HOME_PATH + 'REAL DATASETS/TEST DATASETS/C_Obesity_Data_Real_Test.csv')
for col in categorical_columns :
    test_data[col] = test_data[col].astype('category')
test_data

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity_level
0,Female,20,1.76,53.70,yes,yes,2.000000,3.891994,Frequently,no,1.863930,no,2.870127,2.000000,no,Public_Transportation,Insufficient_Weight
1,Female,26,1.62,111.00,yes,yes,3.000000,3.000000,Sometimes,no,2.704315,no,0.000000,0.322666,Sometimes,Public_Transportation,Obesity_Type_III
2,Male,18,1.85,60.00,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
3,Female,21,1.52,42.00,no,yes,3.000000,1.000000,Frequently,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
4,Male,22,1.75,74.00,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,2.000000,Sometimes,Bike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,Male,19,1.80,87.00,yes,yes,2.000000,4.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Overweight_Level_I
419,Male,31,1.65,101.14,yes,yes,2.913452,2.269799,Sometimes,no,1.000000,no,1.889937,0.378818,no,Public_Transportation,Obesity_Type_II
420,Male,19,1.85,65.00,yes,no,2.000000,3.000000,Sometimes,no,3.000000,no,2.000000,1.000000,Sometimes,Bike,Normal_Weight
421,Male,29,1.76,113.50,yes,yes,2.320201,3.000000,Sometimes,no,2.164784,no,0.000000,1.465479,Sometimes,Automobile,Obesity_Type_II
422,Male,19,1.70,79.68,yes,no,2.735297,2.157164,Sometimes,no,1.087166,no,0.110174,0.003695,no,Public_Transportation,Overweight_Level_II

In [6]:
target = 'Obesity_level'
#quick look at the breakdown of class values
print('Train data')
print(train_data.shape)
print(train_data.groupby(target).size())
print('#####################################')
print('Test data')
print(test_data.shape)
print(test_data.groupby(target).size())

Train data
(1688, 17)
Obesity_level
Insufficient_Weight      1
Normal_Weight          108
Obesity_Type_I         579
Obesity_Type_II        820
Obesity_Type_III         3
Overweight_Level_I     162
Overweight_Level_II     15
dtype: int64
#####################################
Test data
(423, 17)
Obesity_level
Insufficient_Weight    56
Normal_Weight          62
Obesity_Type_I         78
Obesity_Type_II        58
Obesity_Type_III       63
Overweight_Level_I     56
Overweight_Level_II    50
dtype: int64

## 2. Pre-process training data

In [7]:
target = 'Obesity_level'
categorical_columns = ['Gender','family_history_with_overweight','FAVC','CAEC','SMOKE','SCC','CALC','MTRANS']
numerical_columns = train_data.select_dtypes(include=['int64','float64']).columns.tolist()
categories = [np.array([0, 1]), np.array([0, 1]), np.array([0, 1]), np.array([0, 1, 2, 3]), np.array([0, 1]), 
              np.array([0, 1]), np.array([0, 1, 2, 3]), np.array([0, 1, 2, 3, 4])]


data_preprocessor = DataPreProcessor(categorical_columns, numerical_columns, categories)
x_train = data_preprocessor.preprocess_train_data(train_data.loc[:, train_data.columns != target])

y_train = train_data.loc[:, target]
y_encoder = LabelEncoder().fit(['Insufficient_Weight','Normal_Weight','Obesity_Type_I','Obesity_Type_II','Obesity_Type_III',
                               'Overweight_Level_I','Overweight_Level_II'])
y_train = y_encoder.transform(y_train)

x_train.shape, y_train.shape

((1688, 31), (1688,))

## 3. Preprocess test data

In [8]:
x_test = data_preprocessor.preprocess_test_data(test_data.loc[:, test_data.columns != target])
y_test = test_data.loc[:, target]
y_test = y_encoder.transform(y_test)
x_test.shape, y_test.shape

((423, 31), (423,))

## 4. Create a dataset to save the results

In [13]:
results = pd.DataFrame(columns = ['model','accuracy','precision','recall','f1'])
results

Empty DataFrame
Columns: [model, accuracy, precision, recall, f1]
Index: []

## 4. Train and evaluate Random Forest Classifier

In [14]:
rf_results = train_evaluate_model('RF', x_train, y_train, x_test, y_test)
results = results.append(rf_results, ignore_index=True)
rf_results

[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.1s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.2s finished
[Parallel(n_jobs=3)]: Using backend ThreadingBackend with 3 concurrent workers.
[Parallel(n_jobs=3)]: Done  44 tasks      | elapsed:    0.0s
[Parallel(n_jobs=3)]: Done 100 out of 100 | elapsed:    0.0s finished

  model  accuracy  precision  recall      f1
0    RF    0.2742     0.3214  0.2742  0.2209

## 5. Train and Evaluate KNeighbors Classifier

In [15]:
knn_results = train_evaluate_model('KNN', x_train, y_train, x_test, y_test)
results = results.append(knn_results, ignore_index=True)
knn_results

  model  accuracy  precision  recall     f1
0   KNN     0.305     0.2364   0.305  0.238

## 6. Train and evaluate Decision Tree Classifier

In [16]:
dt_results = train_evaluate_model('DT', x_train, y_train, x_test, y_test)
results = results.append(dt_results, ignore_index=True)
dt_results

  model  accuracy  precision  recall      f1
0    DT    0.2931     0.4495  0.2931  0.2843

## 7. Train and evaluate Support Vector Machines Classifier

In [17]:
svm_results = train_evaluate_model('SVM', x_train, y_train, x_test, y_test)
svm_results['model'] = svm_results['model'].replace(['MLP'],'SVM')
results = results.append(svm_results, ignore_index=True)
svm_results

[LibSVM]

  model  accuracy  precision  recall     f1
0   SVM    0.3641      0.407  0.3641  0.358

## 8. Train and evaluate Multilayer Perceptron Classifier

In [18]:
mlp_results = train_evaluate_model('MLP', x_train, y_train, x_test, y_test)
results = results.append(mlp_results, ignore_index=True)
mlp_results

Iteration 1, loss = 1.88229917
Iteration 2, loss = 1.44671570
Iteration 3, loss = 1.02140683
Iteration 4, loss = 0.61911176
Iteration 5, loss = 0.37110814
Iteration 6, loss = 0.25953109
Iteration 7, loss = 0.21017116
Iteration 8, loss = 0.18040097
Iteration 9, loss = 0.15976154
Iteration 10, loss = 0.14694235
Iteration 11, loss = 0.13666729
Iteration 12, loss = 0.12624533
Iteration 13, loss = 0.11705511
Iteration 14, loss = 0.11353130
Iteration 15, loss = 0.10979781
Iteration 16, loss = 0.10502592
Iteration 17, loss = 0.09958534
Iteration 18, loss = 0.09421196
Iteration 19, loss = 0.09390951
Iteration 20, loss = 0.08915784
Iteration 21, loss = 0.08664567
Iteration 22, loss = 0.08467924
Iteration 23, loss = 0.08262686
Iteration 24, loss = 0.08268433
Iteration 25, loss = 0.07761762
Iteration 26, loss = 0.07626966
Iteration 27, loss = 0.07903733
Iteration 28, loss = 0.07398754
Iteration 29, loss = 0.07011423
Iteration 30, loss = 0.06911723
Iteration 31, loss = 0.06797140
Iteration 32, loss = 0.06740129
Iteration 33, loss = 0.06451199
Iteration 34, loss = 0.06553773
Iteration 35, loss = 0.06531035
Iteration 36, loss = 0.06429915
Iteration 37, loss = 0.06213238
Iteration 38, loss = 0.05929771
Iteration 39, loss = 0.05856357
Iteration 40, loss = 0.06334239
Iteration 41, loss = 0.05947952
Iteration 42, loss = 0.06230652
Iteration 43, loss = 0.06002061
Iteration 44, loss = 0.05530464
Iteration 45, loss = 0.05538531
Iteration 46, loss = 0.05400681
Iteration 47, loss = 0.05438161
Iteration 48, loss = 0.05567714
Iteration 49, loss = 0.06044119
Iteration 50, loss = 0.05446492
Iteration 51, loss = 0.04928326
Iteration 52, loss = 0.05196639
Iteration 53, loss = 0.04606321
Iteration 54, loss = 0.05142092
Iteration 55, loss = 0.05318775
Iteration 56, loss = 0.06016307
Iteration 57, loss = 0.05359456
Iteration 58, loss = 0.04695829
Iteration 59, loss = 0.04500062
Iteration 60, loss = 0.04426272
Iteration 61, loss = 0.04374881
Iteration 62, loss = 0.04276416
Iteration 63, loss = 0.04294447
Iteration 64, loss = 0.04507243
Iteration 65, loss = 0.05135171
Iteration 66, loss = 0.04617155
Iteration 67, loss = 0.04417476
Iteration 68, loss = 0.04922079
Iteration 69, loss = 0.04729003
Iteration 70, loss = 0.04415457
Iteration 71, loss = 0.04039026
Iteration 72, loss = 0.03947346
Iteration 73, loss = 0.04187866
Iteration 74, loss = 0.04749486
Iteration 75, loss = 0.04583771
Iteration 76, loss = 0.04581226
Iteration 77, loss = 0.04221720
Iteration 78, loss = 0.04125090
Iteration 79, loss = 0.04044924
Iteration 80, loss = 0.03742850
Iteration 81, loss = 0.03707936
Iteration 82, loss = 0.03536021
Iteration 83, loss = 0.03787911
Iteration 84, loss = 0.03859235
Iteration 85, loss = 0.04327987
Iteration 86, loss = 0.04087759
Iteration 87, loss = 0.04721462
Iteration 88, loss = 0.03658289
Iteration 89, loss = 0.03574827
Iteration 90, loss = 0.03583002
Iteration 91, loss = 0.03776608
Iteration 92, loss = 0.03704017
Iteration 93, loss = 0.03784504
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

  model  accuracy  precision  recall      f1
0   MLP    0.3452     0.3679  0.3452  0.3195

## 9. Save results file

In [19]:
results.to_csv('RESULTS/models_results_WGANGP.csv', index=False)
results

  model  accuracy  precision  recall      f1
0    RF    0.2742     0.3214  0.2742  0.2209
1   KNN    0.3050     0.2364  0.3050  0.2380
2    DT    0.2931     0.4495  0.2931  0.2843
3   SVM    0.3641     0.4070  0.3641  0.3580
4   MLP    0.3452     0.3679  0.3452  0.3195