In [1]:
#Load libraries
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
from ctgan import CTGANSynthesizer

In [2]:
HOME_PATH = '' #home path of the project
TRAIN_FILE = 'REAL DATASETS/TRAIN DATASETS/E_PimaIndiansDiabetes_Real_Train.csv'
SYNTHETIC_FILE = 'SYNTHETIC DATASETS/CTGAN/E_PimaIndiansDiabetes_Synthetic_CTGAN.csv'

## 1. Load the dataset

In [3]:
real_data = pd.read_csv(HOME_PATH + TRAIN_FILE)
categorical_features = ['Outcome']
real_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,84,0,0,0,0.0,0.304,21,0
1,9,112,82,24,0,28.2,1.282,50,1
2,1,139,46,19,83,28.7,0.654,22,0
3,0,161,50,0,0,21.9,0.254,65,0
4,6,134,80,37,370,46.2,0.238,46,1
...,...,...,...,...,...,...,...,...,...
609,5,139,64,35,140,28.6,0.411,26,0
610,1,96,122,0,0,22.4,0.207,27,0
611,10,101,86,37,0,45.6,1.136,38,1
612,0,141,0,0,0,42.4,0.205,29,1
613,0,125,96,0,0,22.5,0.262,21,0

In [4]:
real_data.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [5]:
discrete_columns = ['Outcome']
discrete_columns

['Outcome']

In [6]:
ctgan = CTGANSynthesizer()
ctgan.fit(real_data, discrete_columns)

In [7]:
synthetic_data = ctgan.sample(len(real_data))
synthetic_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,80,102,14,2,28.961375,1.022125,57,1
1,8,142,42,35,-16,42.823328,0.113875,23,1
2,1,116,66,12,-3,17.182916,0.120081,21,0
3,0,73,92,-2,39,22.847068,0.292733,56,1
4,0,213,67,2,268,24.181921,0.503310,29,1
...,...,...,...,...,...,...,...,...,...
609,5,130,73,11,586,36.505990,0.562411,55,1
610,0,139,73,9,-2,21.691856,0.286858,29,1
611,-1,77,57,29,-10,27.343644,0.047399,51,0
612,0,104,50,47,-11,36.600304,0.847496,59,1
613,6,81,44,54,163,23.229553,0.108465,23,1

In [8]:
synthetic_data.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [9]:
float_1 = ['BMI']
for col in float_1 :
    synthetic_data[col] = abs(np.round(synthetic_data[col],1))
float_3 = ['DiabetesPedigreeFunction']
for col in float_3 :
    synthetic_data[col] = abs(np.round(synthetic_data[col],3))
synthetic_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0,80,102,14,2,29.0,1.022,57,1
1,8,142,42,35,-16,42.8,0.114,23,1
2,1,116,66,12,-3,17.2,0.120,21,0
3,0,73,92,-2,39,22.8,0.293,56,1
4,0,213,67,2,268,24.2,0.503,29,1
...,...,...,...,...,...,...,...,...,...
609,5,130,73,11,586,36.5,0.562,55,1
610,0,139,73,9,-2,21.7,0.287,29,1
611,-1,77,57,29,-10,27.3,0.047,51,0
612,0,104,50,47,-11,36.6,0.847,59,1
613,6,81,44,54,163,23.2,0.108,23,1

In [10]:
synthetic_data.to_csv(HOME_PATH + SYNTHETIC_FILE, index = False)

In [11]:
real_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,3.742671,120.855049,69.415309,20.399023,81.438111,31.983388,0.469168,32.907166,0.346906
std,3.313264,32.035057,18.512599,15.433974,116.234835,7.740625,0.336847,11.503437,0.476373
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,100.000000,64.000000,0.000000,0.000000,27.100000,0.241500,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,42.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,139.000000,80.000000,32.000000,129.750000,36.375000,0.613750,40.000000,1.000000
max,17.000000,199.000000,122.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
synthetic_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.00000,614.000000,614.000000
mean,2.136808,118.107492,73.718241,20.669381,103.996743,26.930293,0.37378,37.141694,0.656352
std,3.460923,44.059668,23.159855,16.230290,174.616606,8.231067,0.33421,16.815508,0.475313
min,-2.000000,-73.000000,-46.000000,-5.000000,-153.000000,12.800000,0.00000,16.000000,0.000000
25%,0.000000,88.000000,59.000000,5.250000,1.000000,20.825000,0.14325,26.000000,0.000000
50%,1.000000,116.000000,77.000000,20.000000,24.000000,25.850000,0.29300,30.000000,1.000000
75%,3.000000,146.000000,91.000000,32.000000,146.750000,31.600000,0.48375,46.000000,1.000000
max,18.000000,227.000000,134.000000,69.000000,1003.000000,56.600000,2.11400,93.000000,1.000000